{
  "semi": true,
  "singleQuote": true,
  "printWidth": 130,
  "tabWidth": 4,
  "trailingComma": "all",
  "arrowParens": "always",
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
